/*
 * Copyright 2012-2016 Hippo B.V. (http://www.onehippo.com)
 */
.hippo-login-panel {
  float: right;
}

#infoboxs {
  width: 360px;
  margin-top: 90px;
  float: right;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 12px;
}

#info-login { position: relative;  width: 300px; padding: 20px; color: #333; float:right;}


#feeds { position: relative; top: 0; width: 300px; padding: 20px; color: #333; float:right; margin: 0; }

#info-login h2, #feeds h2 { height: auto; background: none; color: #333; font-size: 135%; border-bottom: 1px solid #666; margin-bottom: 10px; }
#feeds h2 { text-align: right; }

#info-login table { width: 100%; margin-bottom: 0; }
#info-login th { font-size: 123.1%; color: #333; padding-bottom: 3px; }
#info-login td { padding: 1px 0px; font-size: 110% }
#info-login td p { margin: 0px }

#feeds ul { list-style-type: none; }
#feeds li { margin-bottom: 10px; }
#feeds li.type { margin: 0; }
#feeds h3 {font-size: 1.0em; }
#feeds ul a { font-size: 123.1%; font-weight: normal; color: #666; display: block; text-decoration: none; }
#feeds ul a:hover { background-color: #dbdbdb; }
#feeds ul span { display: none; }

#blogs li p { display: none; }
#blogs li { margin-bottom: 10px; }
#blogs li:last-child { margin-bottom: 0; }
