<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Elasticsearch</display-name>

  <servlet>
    <servlet-name>elasticsearch</servlet-name>
    <servlet-class>com.onehippo.gogreen.elasticsearch.HippoNodeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>elasticsearch</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <listener>
    <!-- <listener-class>com.onehippo.gogreen.cms7.elasticsearch.ElasticsearchIndexCreator</listener-class> -->
  </listener>

</web-app>
